<!-- Created By: DanzzCoding | danzzcodingweb.vercel.app -->
	
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="My Rest Api Project">
    <meta name="author" content="Danzz Coding">
	<meta name="keywords" content="Rest Api Danzz Coding">

	<link rel="preconnect" href="https://fonts.gstatic.com">

	<link rel="canonical" href="https://demo-basic.adminkit.io/" />

	<title>Danzz Api - Dashboard</title>
	<audio autoplay="autoplay" hidden="hidden" src="https://l.top4top.io/m_2429eq8w10.mp3"></audio>
    <link rel="shortcut icon" type="image/x-icon" src="image/icon.png">

        <!-- CSS ICONS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
    	<link rel="stylesheet" href="vendors/css/vendors.bundle.base.css">
    	<link rel="stylesheet" href="vendors/flag-icon-css/css/flag-icon.min.css">
    	<link rel="stylesheet" href="vendors/owl-carousel-2/owl.carousel.min.css">
    	<link rel="preconnect" href="https://fonts.gstatic.com">
    	<link href="https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap" rel="stylesheet">
    	<link href="vendors/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    	<link href="vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

        <!-- CSS -->
        <link rel="stylesheet" href="css/style.css">

        <title>Danzz Api - Dashboard</title>
    </head>
    <body>
                
        <!-- NAV -->
        <div class="nav" id="navbar">
            <nav class="nav__container">
                <div>
                	
                <!-- SIDEBAR -->
                    <a href="#" class="nav__link nav__logo">
                        <i class='bx bxs-disc nav__icon' ></i>
                        <span class="nav__logo-name">DanzzCoding</span>
                    </a>
    
                    <div class="nav__list">
                        <div class="nav__items">    
                            <a href="/docs" class="nav__link active">
                                <i class='bx bx-home nav__icon' ></i>
                                <span class="nav__name">Dashboard</span>
                            </a>
                            
                            <a href="/myprofile" class="nav__link">
                                <i class='bx bx-user nav__icon' ></i>
                                <span class="nav__name">Profile</span>
                            </a>
                                                                                    
                            <a href="/donation" class="nav__link">
                                <i class='bx bx-coin nav__icon' ></i>
                                <span class="nav__name">Donation</span>
                            </a>
                            
                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class='bx bx-phone nav__icon' ></i>
                                    <span class="nav__name">Costumer Service</span>
                                    <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="#" class="nav__dropdown-item">Cs On 24 Jam</a>
                                        <a href="#" class="nav__dropdown-item">Group Cs On 24 Jam</a>
                                    </div>
                                </div>
                            </div>

                            <a href="https://youtube.com/c/DanzzCoding" class="nav__link">
                                <i class='bx bx-code nav__icon' ></i>
                                <span class="nav__name">Source Code</span>
                            </a>
                        </div>
    
                        <div class="nav__items">
                            <h4 class="nav__subtitle">MAIN</h4>
                            
                            <a href="/main/statistic" class="nav__link">
                                <i class='fas fa-fw fa-thermometer-three-quarters nav__icon' ></i>
                                <span class="nav__name">Statistic</span>
                            </a>
                            
                            <a href="/main/runtime" class="nav__link">
                                <i class='bx bx-timer nav__icon' ></i>
                                <span class="nav__name">Runtime</span>
                            </a>
                           </div> 
                            
                            <div class="nav__items">
                            <h4 class="nav__subtitle">FEATURES</h4>
    
                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class='bx bx-download nav__icon' ></i>
                                    <span class="nav__name">Downloader API</span>
                                    <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="/api/downloader/youtube?url=https://youtu.be/ZQE_C-TONAg" class="nav__dropdown-item">Youtube</a>
                                        <a href="/api/downloader/tiktok?url=ENTER_URL" class="nav__dropdown-item">Tiktok</a>
                                        <a href="/api/downloader/facebook?url=ENTER_URL" class="nav__dropdown-item">Facebook</a>
                                        <a href="/api/downloader/instagram?url=ENTER_URL" class="nav__dropdown-item">Instagram</a>
                                        <a href="/api/downloader/twitter?url=ENTER_URL" class="nav__dropdown-item">Twitter</a>
                                    </div>
                                </div>

                            </div>

                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class='bx bx-video nav__icon' ></i>
                                    <span class="nav__name">Asupan API</span>
                                    <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="/api/asupan/random" class="nav__dropdown-item">Random</a>
                                        <a href="/api/asupan/santuy" class="nav__dropdown-item">Santuy</a>
                                        <a href="/api/asupan/bocil" class="nav__dropdown-item">Bocil</a>
                                        <a href="/api/asupan/hijaber" class="nav__dropdown-item">Hijaber</a>
                                        <a href="/api/asupan/ukhty" class="nav__dropdown-item">Ukhty</a>
                                    </div>
                                </div>
                                
                                </div>
                                
                                <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class='bx bx-image nav__icon' ></i>
                                    <span class="nav__name">Cecan API</span>
                                    <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="/api/cecan/random" class="nav__dropdown-item">Random</a>
                                        <a href="/api/cecan/hijaber" class="nav__dropdown-item">Hijaber</a>                                        
                                    </div>
                                </div>
                                </div>
                                
                                <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class='bx bx-search nav__icon' ></i>
                                    <span class="nav__name">Search API</span>
                                    <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="/api/search/youtube?q=cara membuat rest api" class="nav__dropdown-item">Youtube</a>
                                        <a href="/api/search/pinterest?q=cecan" class="nav__dropdown-item">Pinterest</a>
                                        <a href="/api/search/google?q=danzzcoding" class="nav__dropdown-item">Google</a>
                                        <a href="/api/search/googleimage?q=danzzcoding" class="nav__dropdown-item">Google Img</a>                                        
                                    </div>
                                </div>
                                
                                </div>
                                
                                <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class='bx bx-images nav__icon' ></i>
                                    <span class="nav__name">Canvas API</span>
                                    <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="/api/canvas/sadcat?text=danzz" class="nav__dropdown-item">Sad Cat</a>
                                        <a href="/api/canvas/facts?text=danzz" class="nav__dropdown-item">Fatcs</a>
                                        <a href="/api/canvas/oogway?text=danzz" class="nav__dropdown-item">Oogway</a>
                                        <a href="/api/canvas/biden?text=Rakyat Konnn" class="nav__dropdown-item">Biden</a>                                        
                                    </div>
                                </div>
                   
                                </div>
                                
                                <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class='bx bx-compass nav__icon' ></i>
                                    <span class="nav__name">Random API</span>
                                    <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="/api/random/meme" class="nav__dropdown-item">Meme</a>
                                    </div>
                                </div>
                             </div>
                           
                <a href="/login" class="nav__link nav__logout">
                    <i class='bx bx-log-out nav__icon' ></i>
                    <span class="nav__name">Log Out</span>
                </a>
                
                <a href="" class="nav__link nav__logout">
                    <i class='bx bx- nav__icon' ></i>
                    <span class="nav__name"></span>
                </a>
            </nav>
      	<!-- END SIDEBAR -->
        
        <!-- HEADER -->
        <header class="header">
            <div class="header__container">
            	<div class="header__toggle">
                    <i class='bx bx-menu' id="header-toggle"></i>
                </div>
                <h8>DONATION</h8>

                <a href="#" class="header__logo">Danzz Coding</a>
    
                <div class="header__search">
                    <input type="search" placeholder="Search" class="header__input">
                    <i class='bx bx-search header__icon'></i>
                </div>
                <img src="images/icon.png" class="rounded-circle shadow-4" style="width: 45px;" alt="Avatar" />
            </div>
        </header>  </div>

        <!-- CONTENTS -->
        <main>
            <section>                    
            	<div class="col-xl-3 col-md-6 mb-4">                            
        	<div class="card-body">
            	<div class="row no-gutters align-items-center">
                	<div class="col mr-2">
							<div class="card card-chart">
								<div class="card-body">
								<h3 style="margin-bottom: 0">
							</h3>
						<div class="card-body">
						<h3><b>DONASI SEIHKLASNYA!</b></h3>
						<h4><b>QRIS ALL PAYMENT</b></h4>
					</div>
					<img src="https://telegra.ph/file/ce41f880f591f9e13117e.jpg" class="rounded-shadow-4"style="width: 300px;" alt="Qris All Payment" />
				</div>
				<button type="submit" class="btn btn-primary">Scan Now</button>
			</div>
		</div>
		</div>
		</div>
		
        	<div class="card-body">
            	<div class="row no-gutters align-items-center">
                	<div class="col mr-2">
							<div class="card card-chart">
								<div class="card-body">
								<h3 style="margin-bottom: 0">
							</h3>
						<div class="card-body">
					</div>
					<div>
					<h4><b>E-WALLETS<b></h4>
					<img src="https://telegra.ph/file/b89b93147d600b4241d95.jpg" class="rounded-circle shadow-4"style="width: 30px;" alt="Avatar" />
					<span> Dana: 089512545999</span>
					<div>
						<div>
					<img src="https://telegra.ph/file/bf2e29e770eee74e7e5c7.jpg" class="rounded-circle shadow-4"style="width: 30px;" alt="Avatar" />
					<span> Gopay: 089512545999</span>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
		</from>
		
		<div class="card-body">
            	<div class="row no-gutters align-items-center">
                	<div class="col mr-2">
							<div class="card card-chart">
								<div class="card-body">
								<h3 style="margin-bottom: 0">
							</h3>
						<div class="card-body">
						<from action="wa.me/6288296339947">
						<p></p>
						<h4><b>SISTEM TRANSFER</b></h4>
						<p>- BUKA APLIKASI PEMBAYARAN</p>
						<p>- SCAN QRIS/MASUKAN NOPE</p>
						<p>- ISI NOMINAL</p>
						<p>- SS RIWAYAT TF</p>
						<p>- SEND BUKTI TF (SSAN TADI) KE <a href="https://wa.me/6288296339947">WHATSAPP</a>
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Ok</button>
			</div>
			</from>
		</div>
		</div>
		</div>
		</div>
		</div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                        	<div class="text-md-left font-weight-bold">
                            Contact
                            <p>
                            	<a href="https://youtube.com/c/DanzzCoding" class="btn btn-primary btn-sm ml-2" target="_blank"><i class=""></i>Location: Bogor - Indonesia</a>
                            	<a href="mailto:danzzcoding@gmail.com" class="btn btn-primary btn-sm ml-2" target="_blank"><i class=""></i>Email: danzzcoding@gmail.com</a>
                            	<a href="https://wa.me/6288296339947" class="btn btn-primary btn-sm ml-2" target="_blank"><i class=""></i>Phone Number: 0882-9633-9947</a>
                            	</div>
                            	<div class="col-lg-12 text-center">
                            	<div class="text-md-left font-weight-bold">
                            	Social Media
                            	<div class="col-lg-12 text-center">
                                <a href="https://instagram.com/ramdani_real01" class="btn btn-primary btn-sm ml-2" target="_blank"><i class="fab fa-fw fa-instagram"></i>&nbsp;Instagram</a>
                                <a href="https://instagram.com/ramdani_real01" class="btn btn-primary btn-sm ml-2" target="_blank"><i class="fab fa-fw fa-facebook"></i>&nbsp;Facebook</a>
                                
                            </p>
                        </div>
                      </div>
                    </div>
                   </div>
                </div>
            </section>
        </main>

        <!-- SCRIPT -->
        <script src="js/main.js"></script>
        <script src="js/script.js"></script>
        <script src="js/dashboard.js"></script>
    </body>
</html>